{% extends 'base.html' %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="text-xl">Liste des clients</h1>
        <a class="nav-link bg-success w-100 rounded text-center fs-6 mt-4" href="{% url 'client:clients_add' %}">
            <span>Ajouter un client</span>
        </a>
        {% if clients %}
            <div class="d-flex justify-content-between mt-4">
                <p class="py-2 px-2 bg-secondary text-center fs-6 font-semibold w-100">Nom</p>

            </div>
         {% for client in clients %}
            <div class="d-flex justify-content-between {% cycle 'bg-gray-100' 'bg-white' %}">
                <p class="py-2 px-2 w-full"><a href=" {% url 'client:clients_detail' client.id %} " >{{ client.name }}</a></p>
            </div>
        {% endfor %}
        {% else %}
        <p class="mt-4"> Il n y a pas de client dans la base de données ...</p>
        {% endif%}
    </div>
{% endblock %}
