{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <h1> Créer un compte </h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
        <div class="" role="alert">
            Il y a des erreurs
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-secondary">S'inscrire</button>
    </form>
</div>

{% endblock %}
