{% extends 'base.html' %}

{% block content %}
<div class="container ">
    <div class="col-md-6 offset-md-3 border p-4 bg-white">
        <h1 class="text-center text-muted fw-bold ">Jamila</h1>
        <p class="text-center custom-heading"> Inscrivez-vous pour accéder aux fonctionnalités qu'offre Jamila</p>
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {% if field.name == 'username' %}
                        <label for="{{ field.id_for_label }}"></label>
                        <input type="text" name="{{ field.name }}" class="form-control" placeholder="{{ field.label }}" required>
                    {% elif field.name == 'password1' %}
                        <label for="{{ field.id_for_label }}">Mot de passe</label>
                        <input type="password" name="{{ field.name }}" class="form-control" required>
                    {% elif field.name == 'password2' %}
                        <label for="{{ field.id_for_label }}">Confirmation du mot de passe</label>
                        <input type="password" name="{{ field.name }}" class="form-control" required>
                    {% else %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    {% endif %}
                    {% if field.errors %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">S'inscrire</button>
            <br>
            <p>Vous avez un compte? <a href="{% url 'website:site'%}">Connectez-vous</a> </p>
        </form>
    </div>
</div>
{% endblock %}
